@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #21094E;
    --cor-secundaria: #A5E1AD;
    --cor-terciaria: #4CA1A3;
    --cor-hover: #511281;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 21% ;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentaçao{
    padding: 5% 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentaçao__conteudo{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentaçao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.destaque{
    color: var(--cor-terciaria);
}
.apresentaçao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentaçao__conteudo__texto__cursos{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    gap: 2px;
    text-decoration: none;
}

.apresentaçao__conteudo__texto__cursos a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentaçao__conteudo__texto:hover{
    background-color: var(--cor-hover);
}

.apresentaçao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentaçao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;

}
.apresentaçao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
.apresentaçao__links__navegacao:hover{
    background-color: var(--cor-hover);
    padding: 5%;
}
.rodapé{
    padding: 1.5rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.imagemgg {
    border: 3px solid var(--cor-terciaria);
    position: relative;
    left: 100px;
    width: 25%;
}

.imagemg {
    border: 3px solid var(--cor-terciaria);
    position: relative;
    left: 6.25rem;
    bottom: 7.5rem;
    width: 50%;
  } 
@media (max-width: 1200px){
   .cabecalho{
    padding: 10%;
   }
   .cabecalho__menu{
    justify-content: center;
   }
   
    .apresentaçao{
        flex-direction: column-reverse;
        padding: 5%;
    }
}
.apresentaçao__conteudo{
    width: auto;
}